@import url('https://rsms.me/inter/inter.css');

* {
  box-sizing: border-box;
}

html,
body,
#root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background: #0f544e;
  font-variant-numeric: tabular-nums;
  font-family: 'Inter var', sans-serif;
  letter-spacing: -0.025em;
}

.label {
  display: none;
  background: #151520;
  color: white;
  padding: 6px 8px;
  border-radius: 7px;
  white-space: nowrap;
}
